@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?n4wh8c');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?n4wh8c#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?n4wh8c') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?n4wh8c') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?n4wh8c##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="lrm-icon-"], [class*=" lrm-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lrm-icon-add_a_photo {
  &:before {
    content: $lrm-icon-add_a_photo; 
  }
}
.lrm-icon-phone {
  &:before {
    content: $lrm-icon-phone; 
  }
}
.lrm-icon-edit_location {
  &:before {
    content: $lrm-icon-edit_location; 
  }
}
.lrm-icon-exit_to_app {
  &:before {
    content: $lrm-icon-exit_to_app; 
  }
}
.lrm-icon-lock {
  &:before {
    content: $lrm-icon-lock; 
  }
}
.lrm-icon-location_city {
  &:before {
    content: $lrm-icon-location_city; 
  }
}
.lrm-icon-mail_outline {
  &:before {
    content: $lrm-icon-mail_outline; 
  }
}
.lrm-icon-map {
  &:before {
    content: $lrm-icon-map; 
  }
}
.lrm-icon-no_encryption {
  &:before {
    content: $lrm-icon-no_encryption; 
  }
}
.lrm-icon-person_add {
  &:before {
    content: $lrm-icon-person_add; 
  }
}
.lrm-icon-phone_android {
  &:before {
    content: $lrm-icon-phone_android; 
  }
}
.lrm-icon-visibility {
  &:before {
    content: $lrm-icon-visibility; 
  }
}
.lrm-icon-visibility_off {
  &:before {
    content: $lrm-icon-visibility_off; 
  }
}
.lrm-icon-vpn_key {
  &:before {
    content: $lrm-icon-vpn_key; 
  }
}
.lrm-icon-person_outline {
  &:before {
    content: $lrm-icon-person_outline; 
  }
}
.lrm-icon-person {
  &:before {
    content: $lrm-icon-person; 
  }
}

