$icomoon-font-family: "lrm-ma-icomoon" !default;
$icomoon-font-path: "fonts" !default;

$lrm-icon-exit_to_app: "e879";
$lrm-icon-lock: "e897";
$lrm-icon-mail_outline: "e0e1";
$lrm-icon-no_encryption: "e641";
$lrm-icon-person_add: "e7fe";
$lrm-icon-visibility: "e8f4";
$lrm-icon-visibility_off: "e8f5";
$lrm-icon-vpn_key: "e0da";
$lrm-icon-person_outline: "e900";
$lrm-icon-person: "e901";

