$icomoon-font-family: "lrm-fa4-icomoon" !default;
$icomoon-font-path: "fonts" !default;

$lrm-fa4-icon-envelope-o: "f003";
$lrm-fa4-icon-user: "f007";
$lrm-fa4-icon-lock: "f023";
$lrm-fa4-icon-eye: "f06e";
$lrm-fa4-icon-eye-slash: "f070";
$lrm-fa4-icon-sign-in: "f090";
$lrm-fa4-icon-unlock-alt: "f13e";
$lrm-fa4-icon-envelope-square: "f199";
$lrm-fa4-icon-user-plus: "f234";
$lrm-fa4-icon-user-o: "f2c0";

