$icomoon-font-family: "lrm-fa4-icomoon" !default;
$icomoon-font-path: "fonts" !default;

$lrm-fa4-icon-arrow-right: "\e900";
$lrm-fa4-icon-envelope-o: "\f003";
$lrm-fa4-icon-user: "\f007";
$lrm-fa4-icon-lock: "\f023";
$lrm-fa4-icon-camera: "\f030";
$lrm-fa4-icon-map-marker: "\f041";
$lrm-fa4-icon-eye: "\f06e";
$lrm-fa4-icon-eye-slash: "\f070";
$lrm-fa4-icon-sign-in: "\f090";
$lrm-fa4-icon-phone: "\f095";
$lrm-fa4-icon-mobile: "\f10b";
$lrm-fa4-icon-mobile-phone: "\f10b";
$lrm-fa4-icon-location-arrow: "\f124";
$lrm-fa4-icon-unlock-alt: "\f13e";
$lrm-fa4-icon-envelope-square: "\f199";
$lrm-fa4-icon-user-plus: "\f234";
$lrm-fa4-icon-map-o: "\f278";
$lrm-fa4-icon-user-o: "\f2c0";
$lrm-fa4-icon-cancel: "\e901";
$lrm-fa4-icon-close: "\e901";
$lrm-fa4-icon-remove: "\e901";
$lrm-fa4-icon-dismiss: "\e901";
$lrm-fa4-icon-keyboard_arrow_right: "\e902";
$lrm-fa4-icon-clear: "\e903";
$lrm-fa4-icon-close1: "\e903";

