$fieldset-margin-tb: 1.4em;
/* form.scss */
.lrm-form {
    padding: .5em 1.4em .1em !important;
    margin: 0;

    @include respond-to(min-width, 600px) {
        .lrm-form {
            padding: .5em 2em .1em 2em !important;
        }
    }

    .fieldset {
        position: relative;
        margin: $fieldset-margin-tb 0;
        padding: 0 !important;
        clear: both;

        @include respond-to(min-width, 600px) {
            .lrm-form .fieldset {
                margin: 2em 0 !important;
            }
        }
    }

    label {
        font-size: 14px;
    }

}

@mixin lrm-image-replace-core() {
    /* replace text with an icon */
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 21px;
    width: 22px;
    overflow: hidden;
    //text-indent: -300px;
    color: rgb(210, 216, 216);

    white-space: nowrap;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
    @content;

    .lrm-font-svg & {
        height: 20px;
        color: transparent;
    }

    @include rtl() {
        right: 15px;
        left: auto;
    }

}

.lrm-form {

    label.image-replace,
    .lrm-image-replace {

        @include lrm-image-replace-core();
        padding: 0 !important;

    }

     input, select {
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-weight: 300;
        height: auto !important;
    }

     input.full-width,
     select.full-width,
     button.full-width {
        width: 100% !important;
        box-sizing: border-box;
    }

     input.has-padding,
     select.has-padding,
     button.has-padding {
        padding: 12px 20px 12px 50px;

        @include rtl() {
            padding: 12px 50px 12px 20px;
        }

        @include respond-to(min-width, 600px) {
             input.has-padding,
             button.has-padding {
                padding: 16px 20px 16px 50px !important;
            }
             button[type=submit],
             input[type=submit],
             #buddypress input[type=submit] {
                padding: 16px 0 !important;
            }
        }
    }

     input.has-border,
     select.has-border {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
    }

     input.has-border:focus,
     select.has-border:focus {
        outline: none;
    }

     input[type=password] {
        /* space left for the HIDE button */
        padding-right: 65px;
    }

     a.button,
     button,
     button[type=submit],
     #buddypress input[type=submit],
     input[type=submit] {
        cursor: pointer;
        background: #2f889a;
        color: #FFF;
        font-weight: bold;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        height: auto;
        border-radius: 5px;
    }

     a.button,
     button {
        font-size: 16px;
        padding: 8px 5px;
    }

     button[type=submit],
     #buddypress input[type=submit],
     input[type=submit] {
        font-size: 20px;
        padding: 16px 5px;
    }

}


.no-touch .lrm-form input[type=submit]:hover,
.no-touch .lrm-form input[type=submit]:focus,
.no-touch .lrm-form button[type=submit]:hover,
.no-touch .lrm-form button[type=submit]:focus {
    background: #3599ae;
    outline: none;
}

.lrm-form .hide-password {

    @include lrm-image-replace-core();
    left: unset;

    border-left: 1px solid black;
    font-size: 14px;
    font-size: 0.875rem;
    cursor: pointer;

    background-position: center;
    padding: 10px 12px;
    right: 5px;

    @include rtl() {
        left: 0;
        right: unset;
        border-right: 1px solid black;
        border-left: none;
    }
}

.lrm-form .lrm-error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 13px;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;

    &::after {
        /* triangle */
        content: '';
        position: absolute;
        left: 22px;
        bottom: 100%;
        height: 0;
        width: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid rgba(215, 102, 102, 0.9);
    }

    &.is-visible {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.2s 0, visibility 0 0;
        -moz-transition: opacity 0.2s 0, visibility 0 0;
        transition: opacity 0.2s 0, visibility 0 0;
    }
}


.lrm-form-message {
    padding: 0.35em 0 .3em .7em;
    font-size: 14px;
    font-size: 16px;
    line-height: 1.4;
    text-align: left;
    margin: 5px 0 0;
    border-left: 4px solid #6d6d6d;

    @include respond-to(min-width, 600px) {
        .lrm-form-message {
            padding: .6em 0 .5em 1em;
        }
    }

    &:empty {
        display: none;
    }

    &.lrm-is-error {
        border-left-color: #dc3232;
        @include rtl() {
            border-left-color: transparent;
            border-right-color: #dc3232;
        }
    }

    @include rtl() {
        border-right: 4px solid #6d6d6d;
        border-left: none;
        padding: 0.35em .3em 0 .7em;
    }
}

p.lrm-form-bottom-message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -32px;
    text-align: center;
    font-size: 14px;
    margin: 0 !important;
}

.lrm-user-modal p.lrm-form-bottom-message a {
    color: #FFF;
    text-decoration: underline;
}

.lrm-close-form {
    /* form X button on top right */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    background: url("img/cd-icon-close.svg") no-repeat center center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/*@media only screen and (min-width: 1170px) {*/
/*.lrm-close-form {*/
/*display: none;*/
/*}*/
/*}*/

.lrm-inline .lrm-close-form {
    display: none !important;
}

.lrm-signin-section,
.lrm-signup-section,
.lrm-reset-password-section {
    display: none;
}

.lrm-signin-section.is-selected,
.lrm-signup-section.is-selected,
.lrm-reset-password-section.is-selected {
    display: block;
}

/*
=== INLINE ===
*/

.lrm-inline {

}

.lrm-inline p.lrm-form-bottom-message a {
    color: inherit;
}