.setting-col ul{
    list-style-type: disc;
    padding-left: 30px;
}

.lrm-redirects-field .selectize-control {
    width: 65%;
    display: inline-block;
    vertical-align: middle;
}

.lrm-redirects-field * {
    vertical-align: middle;

}

.selectize-input:not(.has-items){
    border: #ff4b4b 1px solid;
}

.lrm-redirects-field__row {
    position: relative;
}

.lrm-redirects-field__row_actions {
    width: 25px;
    position: absolute;
    left: -30px;
}
.js-lrm-delete-row {
    text-decoration: none;
}
.js-lrm-sort-row{
    display: none;
    text-decoration: none;
}
.lrm-redirects-field__row:hover .js-lrm-sort-row{
    width: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
}
.lrm-redirects-field__redirect .redirect-url {
    width: 45%;
}
/*==*/