$icomoon-font-family: "lrm-ico-icomoon" !default;
$icomoon-font-path: "fonts" !default;

$lrm-ico-icon-enter: "e908";
$lrm-ico-icon-user-plus: "e907";
$lrm-ico-icon-user: "e907";
$lrm-ico-icon-user-add: "e907";
$lrm-ico-icon-profile: "e907";
$lrm-ico-icon-avatar: "e907";
$lrm-ico-icon-person: "e907";
$lrm-ico-icon-member: "e907";
$lrm-ico-icon-mail: "e905";
$lrm-ico-icon-envelop: "e906";
$lrm-ico-icon-lock: "e900";
$lrm-ico-icon-eye-blocked: "e901";
$lrm-ico-icon-views: "e901";
$lrm-ico-icon-vision: "e901";
$lrm-ico-icon-visit: "e901";
$lrm-ico-icon-banned: "e901";
$lrm-ico-icon-blocked: "e901";
$lrm-ico-icon-forbidden: "e901";
$lrm-ico-icon-private: "e901";
$lrm-ico-icon-eye: "e902";
$lrm-ico-icon-views1: "e902";
$lrm-ico-icon-vision1: "e902";
$lrm-ico-icon-visit1: "e902";
$lrm-ico-icon-key: "e903";
$lrm-ico-icon-password: "e903";
$lrm-ico-icon-login: "e903";
$lrm-ico-icon-signin: "e903";
$lrm-ico-icon-user1: "e904";
$lrm-ico-icon-profile1: "e904";
$lrm-ico-icon-avatar1: "e904";
$lrm-ico-icon-person1: "e904";
$lrm-ico-icon-member1: "e904";

