$icomoon-font-family: "lrm-ico-icomoon" !default;
$icomoon-font-path: "fonts" !default;

$lrm-ico-icon-arrow_forward_ios: "\e90e";
$lrm-ico-icon-arrow_forward: "\e90f";
$lrm-ico-icon-keyboard_arrow_right: "\e910";
$lrm-ico-icon-clear: "\e911";
$lrm-ico-icon-close: "\e911";
$lrm-ico-icon-arrow-right: "\e912";
$lrm-ico-icon-circle-right: "\e913";
$lrm-ico-icon-cross: "\e914";
$lrm-ico-icon-cancel: "\e914";
$lrm-ico-icon-close1: "\e914";
$lrm-ico-icon-quit: "\e914";
$lrm-ico-icon-remove: "\e914";
$lrm-ico-icon-map: "\e90b";
$lrm-ico-icon-compass: "\e90c";
$lrm-ico-icon-location: "\e90d";
$lrm-ico-icon-mobile: "\e909";
$lrm-ico-icon-cell-phone: "\e909";
$lrm-ico-icon-handheld: "\e909";
$lrm-ico-icon-phone: "\e90a";
$lrm-ico-icon-telephone: "\e90a";
$lrm-ico-icon-contact: "\e90a";
$lrm-ico-icon-support: "\e90a";
$lrm-ico-icon-call: "\e90a";
$lrm-ico-icon-enter: "\e908";
$lrm-ico-icon-user-plus: "\e907";
$lrm-ico-icon-user: "\e907";
$lrm-ico-icon-user-add: "\e907";
$lrm-ico-icon-profile: "\e907";
$lrm-ico-icon-avatar: "\e907";
$lrm-ico-icon-person: "\e907";
$lrm-ico-icon-member: "\e907";
$lrm-ico-icon-mail: "\e905";
$lrm-ico-icon-envelop: "\e906";
$lrm-ico-icon-lock: "\e900";
$lrm-ico-icon-eye-blocked: "\e901";
$lrm-ico-icon-views: "\e901";
$lrm-ico-icon-vision: "\e901";
$lrm-ico-icon-visit: "\e901";
$lrm-ico-icon-banned: "\e901";
$lrm-ico-icon-blocked: "\e901";
$lrm-ico-icon-forbidden: "\e901";
$lrm-ico-icon-private: "\e901";
$lrm-ico-icon-eye: "\e902";
$lrm-ico-icon-views1: "\e902";
$lrm-ico-icon-vision1: "\e902";
$lrm-ico-icon-visit1: "\e902";
$lrm-ico-icon-key: "\e903";
$lrm-ico-icon-password: "\e903";
$lrm-ico-icon-login: "\e903";
$lrm-ico-icon-signin: "\e903";
$lrm-ico-icon-user1: "\e904";
$lrm-ico-icon-profile1: "\e904";
$lrm-ico-icon-avatar1: "\e904";
$lrm-ico-icon-person1: "\e904";
$lrm-ico-icon-member1: "\e904";

